<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hugging Face 9 billion</title>
</head>
<body>
    <p>
        <form class='form' method='POST'>
            <textarea name='payload'></textarea>
            <button type='submit'>
                Submit
            </button>
        </form>
    </p>
    <p>
        {{ response }}
    </p>
</body>
</html>